
<!DOCTYPE html>
<html>
  <head>
    <meta charset = "utf-8">
    <title>Mercado Liebre</title>
    <img src = '/images\logo-mercado-liebre.svg' 
    height="287"
    width="400"/>
  </head>
  <body>

    <header>

        <p>Lugar para poner barra de busqueda</p>

        <p>Comprá en cuotas y sin tarjeta de crédito</p>
    
        <ul>
            <li><a href="a">Ofertas</a></li>
            <li><a href="a">Tiendas Oficiales</a></li>
            <li><a href="a">Vender</a></li>
            <li><a href="a">Ayuda</a></li>
        </ul>
        <ul>
            <li><a href="a">Crea tu cuenta</a></li>
            <li><a href="a">Ingresá</a></li>
            <li><a href="a">Mis compras</a></li>
    
    
        </ul>

    </header>
    <main>

        <section>  
            <header>
                <h2>Basado en tu ultima visita</h2>
            </header>
            <article>
                <picture>
                    <img src= '\images\img-cafetera-moulinex.jpg'>


                </picture>
                <dl>
                    <dt>$6770</dt>
                
                   <dt>40% off</dt> 
                    <h3>Cafetera Moulinex</h3>
                </dl>
            </article>
            <article>
                <picture>
                    <img src= '\images\img-macbook-pro-2019.jpg'>


                </picture>
                <dl>
                    <dt>$230.000</dt>
                    <dt>20% off</dt> 
                    <h3>MacBook Pro 2019</h3>
                </dl>
            </article>
            <article>
                <picture>
                    <img src= '\images\img-samsung-galaxy-s10.jpg'>


                </picture>
                <dl>
                   <dt> $70.500</dt>
                   <dt>10% off</dt> 
                    <h3>Samsung Galaxy S10</h3>
                </dl>
            </article>
            <article>
                <picture>
                    <img src= '\images\img-tv-samsung-smart.jpg'>


                </picture>
                <dl>
                    <dt> $23.200</dt>
                    <dt>5% off</dt>
                    <h3>SmartTv Samsung 43"</h3>
                </dl>
            </article>

            
        </section>
    

        <section>  
            <header>
                <h2>Ofertas</h2>
            </header>
            <article>
                <picture>
                    <img src= '\images\img-cafetera-moulinex.jpg'>


                </picture>
                <dl>
                    <dt>$6770</dt>
                
                   <dt>40% off</dt> 
                    <h3>Cafetera Moulinex</h3>
                </dl>
            </article>
            <article>
                <picture>
                    <img src= '\images\img-macbook-pro-2019.jpg'>


                </picture>
                <dl>
                    <dt>$230.000</dt>
                    <dt>20% off</dt> 
                    <h3>MacBook Pro 2019</h3>
                </dl>
            </article>
            <article>
                <picture>
                    <img src= '\images\img-samsung-galaxy-s10.jpg'>


                </picture>
                <dl>
                    <dt> $70.500</dt>
                    <dt>10% off</dt> 
                     <h3>Samsung Galaxy S10</h3>
                 </dl>
            </article>
            <article>
                <picture>
                    <img src= '\images\img-tv-samsung-smart.jpg'>


                </picture>
                <dl>
                    <dt> $23.200</dt>
                    <dt>5% off</dt>
                    <h3>SmartTv Samsung 43"</h3>
                </dl>
            </article>

            
        </section>

    </main>
  
    <footer>
        <section>
        <header>
            <h3>Pagá con tarjeta de credito o en efectivo</h3>
        </header>
        <article>
            Con Mercado Liebre Cash, tenés cuotas sin <br> interés con tarjeta o efectivo en
            puntos de <br> pago. ¡Y siempre es seguro!

        </article>
    </section>
    <section>
        <header>
            <h3>Envio gratis desde los $2500</h3>
        </header>
        <article>
            Solo por estar registrado en Mercado Liebre <br> tenés envíos gratis en miles de
productos. Es <br> un beneficio de Mercado Puntos.

        </article>
    </section>
    <section>
        <header>
            <h3>Seguridad de principio a fin</h3>
        </header>
        <article>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre <br> no hay nada que no puedas hacer,
            porque estás siempre protegido.
            

        </article>
    </section>
    <br>
    <section>
        <article>
            Copyright © 1999-2020 MercadoLiebre S.R.L.
        </article>
    </section>
    </footer>

  </body>

 
</html>