
<!DOCTYPE html>
<html>
    <head>
    <meta charset = "utf-8">
    <title>Mercado Liebre</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
            <link rel= "stylesheet" href= "/css/styles.css">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">       
        </head>
            <body>
    <form action='/' method="post">
        <fieldset>
            <label> Nombre y apellido</label>
            <input type="text" name='nombreApellido'>

        </fieldset>
        <fieldset>
            <label>Nombre de Usuari@</label>
            <input type="text" name='nombreApellido'>
        </fieldset>
        <fieldset>
            <label>Fecha de Nacimiento</label>
            <input type="date" name='Nacimiento'>
        </fieldset>
        <fieldset>
            <label>Domicilio</label>
            <input type="text" name='Domicilio'>
        </fieldset>
        <fieldset>
            <label>Perfil de Usuario</label>
            <input type="radio" name='Perfil' id='perfilComprador'value='Comprador'>
            <label for='perfilComprador'> Comprador </label>
            <input type="radio" name='Perfil'id='perfilVendedor'value='Vendedor'>
            <label for='perfilVendedor'>Vendedor</label>
        </fieldset>
        <fieldset>
            <label>Categorias de Interes</label>
            <input type="checkbox" name='interes' id='interes1'>
            <label>Electro</label>
            <input type="checkbox" name='interes' id='interes2'>
            <label>Moda</label>
            <input type="checkbox" name='interes' id='interes3'>
            <label>Hogar</label>
            <input type="checkbox" name='interes' id='interes4'>
            <label>Jugueteria</label>
            <input type="checkbox" name='interes' id='interes5'>
            <label>Vida sana</label>
        </fieldset>
        <fieldset>
            <label>Foto de usuario</label>
            <input type="text" name='Foto'>
        </fieldset>
        <fieldset>
            <label>Contraseña</label>
            <input type="password" name='password'>
        </fieldset>
        <fieldset>
            <label>Confirmar Contraseña</label>
            <input type="password" name='password'>
        </fieldset>        
        <button type='reset'>Borrar</button>
        </form>

        <form action="http://localhost:3000/">
            <input type="submit" value="Ir a inicio" />
    </form>
            </body>
</html>

