
/* ----- Body -----*/

body { 
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

.enviar{
    display: block;
}

.botonEnviar:hover {
    background-color: #0022AA;
    color: white;
}


form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  

  input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  fieldset{
    padding: 16px;
    width: 23rem;
    display: flex;
    flex-direction: column;
    border: none;
  }
  .loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }

  main {
      padding: 150px;
  }
  .botonInicio{
    background-color: transparent;
    border-color: transparent;
    color: #3483fa;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    padding: 0 24px;
    text-align: center;
    border-radius: 6px;
    width: 10rem
}

.botonEnviar {
    background-color: #3483fa;
    border-color: transparent;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    padding: 0 24px;
    text-align: center;
    border-radius: 6px;
    width: 10rem;
}


  

        
    @media (min-width: 769px) {
       
form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  


  }
  fieldset{
    padding: 16px;
    width: 23rem;
    display: flex;
    flex-direction: column;
    border: none;
  }
  
  main {
      padding: 150px;
  }
  .botonEnviar{
      width: 21rem
  }
