* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

/* ----- Header -----*/



.header-one {
    background-color: #EAC926;
    text-align: center;
    padding: 15px;
    
}
.header-two {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.cajasectionheader{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}


picture {
    width: 100%;
    display: flex;
    
}
.copy-header{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 1rem;
}
.navbar1{
    display: none
}

h2 {
    display: block;
}
p{
    margin-bottom: 20px;
    color: black;
}
.headerGrow{
    display: flex;
    width: 50%;
    justify-content: flex-end;
    position: relative;
    align-items: center;
    
}
.icon{
    display: flex;
    width: 16px;
    position: absolute;
    padding-right: 25px;
    z-index: 10;
    
}

.logo {
    width: 50%;
    margin-right: 5px;
}

input {
    width: 60%;
    height: 2rem;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #0022AA;

}

.perfilDeUsuario {
    display:flex;
    flex-direction: row;
}
.checkboxAlign {
    display: flex;
    align-items: center;
    width: 100%;
}
ul a {
    list-style: none;
    text-decoration: none;
    color: black;
}

.burguer-menu {
    background-color: #246ab4;
    color: white;
    display: block;
    max-width: 35px;
    border-radius: 4px;
    margin: auto;
    padding: 5px;
}

li {
    list-style: none;
}

ul {
    display: none;
}

/* ----- Body -----*/

body { 
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
    
    
}

.botonInicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* ----- Footer -----*/
footer {
    
    text-align: center;
}

.copyright{
    margin-top:20px;
    margin-bottom:10px
}


.iconosFooter {
    color: #1259c3;;
    font-size: 55px;
    transform: transition 1.5s;
}
.iconosFooter:hover{
    color: rgb(75, 164, 238);
    transform: scale(1.1);
}

form {
    width: 30em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px grey;
    border-radius: 10px;
    box-shadow: 10px 10px 10px grey;
    background-color:white;
    
}


input {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #0022AA;
    box-sizing: border-box;
    font-size:1.2em;
}
fieldset{
    padding: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

main {
    padding: 150px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.categorias, .legend{
    
    margin-bottom: 15px;
    margin-top:30px;
    width: 100%;
    text-align:left;
    font-size: 18px;
    font-weight:bold;
}

.categorias-interes{
    display:flex;
    flex-wrap: wrap;
    border:none;
    outline:none;
    width: 100%;
    position:relative;
}

.legend{
    margin-left:14px
}

.seleccionarArchivo{
    width:100%;
    margin-left:14px;
    margin-bottom: 20px;
    font-size: 15px;
    border: none;
    height: auto;
}

.botonGuardar {
    background-color: #3483fa;
    border-color: transparent;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    padding: 0 24px;
    text-align: center;
    border-radius: 6px;
    width: 60%;
}
.botonBorrar{
    background-color: transparent;
    border-color: transparent;
    color: #3483fa;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    padding: 0 24px;
    text-align: center;
    border-radius: 6px
}
.negrita {
    font-weight: bold;
}



@media (min-width: 769px) {
    h3 { 
        display: block; 
    } 
    
    /* ----- Header -----*/
    
    .h2{
        display: flex;
        align-items: center;
    }
    .header-two{
        display: flex;
        flex-direction: row;
        justify-content:space-between
        
    }
    .headerGrow{
        align-items: center;
    }
    .headerGrow input{
        width: 200%;
        height: 50px;
        align-items: center;
    }
    .logo {
        width: 300px;
        margin-right: 5px;
    }
    .navbar1 {
        display: flex;
        justify-content: space-between;
    }
    .navbar1 li {
        margin: 0px 10px;
    }
    .cajasectionheader{
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        width: 65%;
    }
    .copy-header{
        display: flex;
        justify-content: center;
        padding-top: 20px;
        width: 35%;
    }
    ul {
        display: flex;
    }
    
    .burguer-menu{
        display: none;
    }
    
    footer div{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
    }
    footer {
        margin-top: 50px;
    }
    footer div section {
        width: 33%;
    }
    .sectionFooter{
        text-align: left;
        margin-top: 30px;
    }
    .navbar1 li {
        margin: 0px 10px;
    }
    .cajasectionheader{
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        width: 65%;
    }
    .copy-header{
        display: flex;
        justify-content: center;
        padding-top: 20px;
        width: 35%;
    }
    ul {
        display: flex;
    }
    
    .burguer-menu{
        display: none;
    }
    
    footer div{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
    }
    footer {
        margin-top: 50px;
    }
    footer div section {
        width: 33%;
    }
    .sectionFooter{
        text-align: left;
        margin-top: 30px;
    }
    form {
        width: 30em;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
    }
    
    
    input {
        width: 60%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #0022AA;
        box-sizing: border-box;
    }
    fieldset{
        padding: 16px;
        width: 30rem;
        display: flex;
        flex-direction: column;
        border: none;
    }
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
    
    main {
        padding: 150px;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .botonInicio{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    
    @media (min-width: 1200px) {
        
        h3 { 
            display: block; 
        } 
        
        /* ----- Header -----*/
        
        .h2{
            display: flex;
            align-items: center;
        }
        .header-two{
            display: flex;
            flex-direction: row;
            justify-content:space-between
            
        }
        .headerGrow{
            align-items: center;
        }
        .headerGrow input{
            width: 200%;
            height: 50px;
            align-items: center;
        }
        .logo {
            width: 300px;
            margin-right: 5px;
        }
        .navbar1 {
            display: flex;
            justify-content: space-between;
        }
        .navbar1 li {
            margin: 0px 10px;
        }
        .cajasectionheader{
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            width: 65%;
        }
        .copy-header{
            display: flex;
            justify-content: center;
            padding-top: 20px;
            width: 35%;
        }
        ul {
            display: flex;
        }
        
        .burguer-menu{
            display: none;
        }
        
        footer div{
            display:flex;
            flex-direction: row;
            justify-content: space-around;
        }
        footer {
            margin-top: 50px;
        }
        footer div section {
            width: 33%;
        }
        .sectionFooter{
            text-align: left;
            margin-top: 30px;
        }
        form {
            width: 30em;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        
        input {
            width: 60%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #0022AA;
            box-sizing: border-box;
        }
        fieldset{
            padding: 16px;
            width: 30rem;
            display: flex;
            flex-direction: column;
            border: none;
        }
        section {
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: center;
        }
        
        main {
            padding: 150px;
            align-items: center;
            display: flex;
            flex-direction: column;
        }
        .botonInicio{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        
    }
}

