* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

/* ----- Header -----*/



.header-one {
    background-color: #EAC926;
    text-align: center;
    padding: 20px;
}
.header-two {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
h2 {
    display: block;
}
p{
    margin-bottom: 20px;
    color: black;
}
.headerGrow{
    display: flex;
    flex-grow: 0.5;
    justify-content: center;
    
}
.logo {
    width: 200px;
    margin-right: 5px;
}


ul a {
    list-style: none;
    text-decoration: none;
    color: black;
}

.burguer-menu {
    background-color: #246ab4;
    color: white;
    display: block;
    max-width: 35px;
    border-radius: 4px;
    margin: auto;
    padding: 5px;
}

li {
    list-style: none;
}

ul {
    display: none;
}

/* ----- Body -----*/

body { 
    font-family: 'Roboto', sans-serif;
    background-color: rgb(245, 242, 230);

    
}

/* ----- Main -----*/

main {
    text-align: center;
    width: 90%;
    background-color: rgb(245, 242, 230);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 100%;
    height: auto;
    }

main section article {
    width: 100%;
    margin: 10px;
    background-color: white;
  }
article {
    width: 100%;
    margin: 10px;
}

.banner{
    width: 100%;
}

.contenedorPadre {
    
    display: flex;
    justify-content: space-around;
}
.contenedorHijo{
    display: flex;
    flex-direction: row;
   
}
section article div {
    position: relative;
    border-top: 1px solid #ebebeb;
    padding: 15px;
}

.titulares {
    text-align: center;
    margin:20px;
    font-size: 4vw;
}

.descripcion {
    
    font-size: 16px;
    display: none;
}

h3  {
    display: none;
    
}
article dt {
    box-sizing: border-box;
    padding: 10px;
}

.camion {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    color:#39b54a
}
 

.descuentos{
    color:rgb(50, 192, 50);
    font-size: 16px;
    display: block;
    flex-grow: 0.70;
    
}
.precios {
    font-size: 16px;
    display: block;
    flex-grow: 0.30;
}

main header {
    text-align: center;
    box-sizing: border-box;
    height: 60px;
}
.articulo1{
    margin-bottom: 10px;
    transition: box-shadow 2s;

}

.articulo2, .articulo3, .articulo4, .articulo5, .articulo6, .articulo7, .articulo8 {
    display: none
}


/* ----- Footer -----*/
footer {
    
    text-align: center;
}

.copyright{
    margin-top:20px;
    margin-bottom:10px
}



.iconosFooter {
    color: #1259c3;;
    font-size: 55px;
}

.ofertas {
    display: none;
}


        
    @media (min-width: 769px) {
        h3 { 
            display: block; 
        } 
        
        /* ----- Header -----*/
        .header-two{
            display: flex;
            justify-content:space-between
        }
        .headerGrow input{
            width: 200%;
            height: 50px;
        }
        .logo {
            width: 300px;
            margin-right: 5px;
        }
        .navbar1 {
            display: flex;
            justify-content: space-between;
        }
        .navbar1 li {
            margin: 0px 10px;
        }
        .copy-header { 
            color: black;
            text-align: right;
            max-width: 250px;
            font-weight: 4;
        }
        ul {
            display: flex;
        }
        
        .burguer-menu{
            display: none;
        }

        /* ----- Main -----*/

        .descripcion{
            display: flex;
        }
        .articulo2{
            display: block;
            margin-bottom: 10px;
            transition: box-shadow 1s
    }
    main section article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);   
    }
   
      }
   
    
    @media (min-width: 1200px) {
        
        h3 { 
            display: block; 
        } 
       .header-two{
            display: flex;
            justify-content:space-between;
            margin: auto;
            }
        .headerGrow input{
                width: 200%;
                height: 50px;
        }
        .logo {
            width: 400px;
            margin-right: 5px;
        }
        
        .navbar1 {
            display: flex;
            justify-content: space-between;
        }
        .navbar1 li {
            margin: 0px 10px;
        }
        .copy-header { 
            color: black;
            text-align: right;
            max-width: 250px;
            font-weight: 4;
        }
        ul {
            display: flex;
        }
        
        .burguer-menu{
            display: none;
        }
        .descripcion {
            display: flex;
        }
        .articulo2, .articulo3, .articulo4{
            display: block;
            margin-bottom: 10px;
            transition: box-shadow 1s
        
        }
        main section article {
            box-shadow: 0px 0px 10px rgb(100, 100, 100);        
        }
        footer div{
            display:flex;
            flex-direction: row;
            justify-content: space-around;
        }
}
