* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

/* ----- Header -----*/



.header-one {
    background-color: #EAC926;
    text-align: center;
    padding: 15px;
  
}
.header-two {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.cajasectionheader{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}


picture {
    width: 100%;
    display: flex;
    
}
.copy-header{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 1rem;
}
.navbar1{
    display: none
}

h2 {
    display: block;
}
p{
    margin-bottom: 20px;
    color: black;
}
.headerGrow{
    display: flex;
    width: 50%;
    justify-content: flex-end;
    position: relative;
    align-items: center;
    
}
.icon{
    display: flex;
    width: 16px;
    position: absolute;
    padding-right: 25px;
    z-index: 10;
    
}

.logo {
    width: 50%;
    margin-right: 5px;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
}

ul a {
    list-style: none;
    text-decoration: none;
    color: black;
}

.burguer-menu {
    background-color: #246ab4;
    color: white;
    display: block;
    max-width: 35px;
    border-radius: 4px;
    margin: auto;
    padding: 5px;
}

li {
    list-style: none;
}

ul {
    display: none;
}

/* ----- Body -----*/

body { 
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;

    
}

/* ----- Main -----*/

main {
    text-align: center;
    width: 90%;
    background-color: #ebebeb;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 100%;
    height: auto;
    }

main section article {
    width: 100%;
    margin: 10px;
    background-color: white;
  }
article {
    width: 100%;
    margin: 10px;
}

.banner{
    width: 100%;
}

.contenedorPadre {
    
    display: block;
    justify-content: space-around;
}
.contenedorHijo{
    display: flex;
    flex-direction: row;
    text-align: left;
   
}
.seccionFlex {
    display: block;
}
section article div {
    position: relative;
    border-top: 1px solid #ebebeb;
    padding: 15px;
}

.titulares {
    text-align: left;
    margin:20px;
    font-size: 1.5em;
    color: grey;
}  

.descripcion {
    
    font-size: 16px;
    display: none;
    opacity: 0;
    transition: 1.5s;
    
}

.descripcion:hover {
    opacity: 1;
}

h3  {
    display: block;
    
}
article dt {
    box-sizing: border-box;
    padding: 10px;
}

.camion {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    color:#39b54a;
    transition: transform 3s
}

.camion:hover{
transform: rotateZ(-90deg)

} 

.descuentos{
    color:rgb(50, 192, 50);
    font-size: 16px;
    display: block;
    width: 70%;
}
.precios {
    font-size: 16px;
    display: block;
    width: 30%;
}

main header {
    text-align: center;
    box-sizing: border-box;
    height: 60px;
}

.articulo{
    display: block;
    margin-bottom: 10px;
    box-shadow: none;
    transition: box-shadow 0.5s;
}
.articulo:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}


.ofertas {
    display: block;
}



/* ----- Footer -----*/
footer {
    
    text-align: center;
}

.copyright{
    margin-top:20px;
    margin-bottom:10px
}



.iconosFooter {
    color: #1259c3;;
    font-size: 55px;
    transform: transition 1.5s;
}
.iconosFooter:hover{
    color: rgb(75, 164, 238);
    transform: scale(1.1);
}

        
    @media (min-width: 769px) {
        h3 { 
            display: block; 
        } 
        
        /* ----- Header -----*/

        .h2{
            display: flex;
            align-items: center;
        }
        .header-two{
            display: flex;
            flex-direction: row;
            justify-content:space-between
            
        }

        .headerGrow{
            align-items: center;
            width: 60%
        }   
        input {
            display: flex;

        }
        
        .logo {
            width: 100%;
            margin-right: 5px;
        }
        .navbar1 {
            display: flex;
            justify-content: space-between;
        }
        .navbar1 li {
            margin: 0px 10px;
        }
        .cajasectionheader{
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            width: 65%;
        }
        .copy-header{
            display: flex;
            justify-content: center;
            padding-top: 20px;
            width: 35%;
            font-size: 1rem;
            margin-top: 10px;
        }
        ul {
            display: flex;
        }
        
        .burguer-menu{
            display: none;
        }

        /* ----- Main -----*/

        .descripcion{
            display: flex;
        }
        .contenedorPadre {
    
            display: flex;
            justify-content: space-around;
        }
        }

        
    
    @media (min-width: 1200px) {
        
        h3 { 
            display: block; 
        } 
        
        /* ----- Header -----*/

        .h2{
            display: flex;
            align-items: center;
        }
        .header-two{
            display: flex;
            flex-direction: row;
            justify-content:space-between
            
        }
        .headerGrow{
            align-items: center;
        }
        .headerGrow input{
            width: 200%;
            height: 50px;
            align-items: center;
        }
        .logo {
            width: 300px;
            margin-right: 5px;
        }
        .navbar1 {
            display: flex;
            justify-content: space-between;
        }
        .navbar1 li {
            margin: 0px 10px;
        }
        .cajasectionheader{
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            width: 65%;
        }
        .copy-header{
            display: flex;
            justify-content: center;
            padding-top: 20px;
            width: 35%;
        }
        ul {
            display: flex;
        }
        
        .burguer-menu{
            display: none;
        }
        /* ----- Main -----*/

        .contenedorPadre{
            display: flex;
        }
        .descripcion {
            display: flex;
        }
      
        .contenedorHijo{
            text-align: center;
        }
        .seccionFlex {
            display: flex;
        }
        main section article {
            box-shadow: 0px 0px 10px rgb(100, 100, 100);        
        }

        /* ----- footer -----*/
        footer div{
            display:flex;
            flex-direction: row;
            justify-content: space-around;
        }
        footer {
            margin-top: 50px;
        }
        footer div section {
            width: 33%;
        }
        .sectionFooter{
            text-align: left;
            margin-top: 30px;
        }
}
