
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset = "utf-8">
    <title>Mercado Liebre</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link rel= "stylesheet" href= "./css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">       
</head>
<body>
    
    <header class="header-one">
    <div class="header-two">
        <section class="cajasectionheader">
        <picture>    <img src = '/images/logo-mercado-liebre.svg' class= "logo"/>
        </picture> 

        <nav class = "headerGrow">
            <input  style = "width: 100%;
            height: 2rem" type= "text" placeholder="Buscar productos, marcas">
            <i class="fas fa-search icon"></i>

        </nav>
    </section>
            
        <h2 class= "copy-header"> <i class="fas fa-hand-holding-usd"> </i>Comprá en cuotas y sin tarjeta de crédito</h2>
    </div>
        <nav class= "navbar1">
        <ul class= "left-navbar">
            <li><a href="a">Ofertas</a></li>
            <li><a href="a">Tiendas Oficiales</a></li>
            <li><a href="a">Vender</a></li>
            <li><a href="a">Ayuda</a></li>
        </ul>
    
        <ul class= "right-navbar">
            <li><a href="/register">Crea tu cuenta</a><i class="far fa-address-card" style= "padding: 5px"></i></li> 
            <li><a href="/login">Ingresá </a><i class="fas fa-sign-in-alt" style= "padding: 5px"></i></li>
            <li><a href="a">Mis compras </a><i class="fas fa-shopping-basket" style= "padding: 5px"></i></li>                        
        </ul>
    </nav>
        <nav class= "burguer-menu">
            
        <a><i class="fas fa-bars"></i></a> 
            
        </nav>
        
    </header>
        <body> 
            <form action='/' method="post">
               
                <fieldset>
                    <label>Nombre de Usuari@</label>
                    <input type="text" name='nombreApellido'>
                </fieldset>
                <fieldset>
                    <label> Contraseña</label>
                    <input type="password" name='password'>
                </fieldset>
                <button type="submit">
                        Enviar
                </button>
            </form>
                
        <form action="http://localhost:3000/">
            <input type="submit" value="Ir a inicio" />
    </form>
    <footer>
        <div>
        <section>
            <header>
                <i class="fas fa-credit-card iconosFooter"></i>
                <h3>Pagá con tarjeta de credito o en efectivo</h3>
            </header>
            <article>
                Con Mercado Liebre Cash, tenés cuotas sin <br> interés con tarjeta o efectivo en
                puntos de <br> pago. ¡Y siempre es seguro!
                
            </article>
        </section>
        <section>
            <i class="fas fa-gift iconosFooter"></i>   
            <header> 
                <h3>Envio gratis desde los $2500</h3>
            </header>
            <article>
                Solo por estar registrado en Mercado Liebre <br> tenés envíos gratis en miles de
                productos. Es <br> un beneficio de Mercado Puntos.
                
            </article>
        </section>
        <section>
            <i class="fas fa-user-shield iconosFooter"></i>
            <header>
                <h3>Seguridad de principio a fin</h3>
            </header>
            <article>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre <br> no hay nada que no puedas hacer,
                porque estás siempre protegido.
                
                
            </article>
        </section>
    </div>
        <section class= "sectionFooter">

            <article class= "copyright">
                Copyright © 1999-2020 MercadoLiebre S.R.L.
            </article>
        </section>
    </footer>
    
</body>


</html>
        </body>
</html>